<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quality of Life Rankings</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px 0;
            font-family: Arial, sans-serif;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h1>Top 10 and Bottom 10 Countries by Quality of Life (Numbeo 2023)</h1>
    </div>
    <br>
    <div style="padding: 10px;">
    <a class='btn btn-primary float-right' href="/">Home
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous"  />
           </a>
           </div>
        <br>
    </div>
    <h2>Top 10 Countries</h2>
    <table id="top10">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Country Name</th>
                <th>Quality of Life Index Value</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <h2>Bottom 10 Countries</h2>
    <table id="bottom10">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Country Name</th>
                <th>Quality of Life Index Value</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <!-- Include the script file -->
    <script src="../static/js/top_and_bottom_ten_countries.js"></script>

</body>
</html>